In [ ]:
import nltk
from nltk.corpus import stopwords

In [ ]:
import pandas as pd

In [ ]:
stories=pd.read_csv('/content/Untitled spreadsheet - Sheet1.csv')
stories.head()

,Title,Strory,Unnamed: 2,Unnamed: 3,https://mocomi.com/fun/stories/indian-folk-tales/
0,Hare and Tortoise,A Hare was making fun of the Tortoise one day ...,NaN,NaN,NaN
1,Abhimanyu and Ghatotakach,Abhimanyu and Ghatotkach are two important cha...,NaN,NaN,NaN
2,Saint Kabir,The saint poet Kabir is one of the most intere...,NaN,NaN,NaN
3,Samudra Manthan,"Lord Indra, while riding his elephant, Airavat...",NaN,NaN,NaN
4,King Ratnideva,King Ratnideva was well known not only on Eart...,NaN,NaN,NaN

In [ ]:
stories.drop(['Unnamed: 2','Unnamed: 3','https://mocomi.com/fun/stories/indian-folk-tales/'],inplace=True,axis=1)

In [ ]:
stories.head()

,Title,Strory
0,Hare and Tortoise,A Hare was making fun of the Tortoise one day ...
1,Abhimanyu and Ghatotakach,Abhimanyu and Ghatotkach are two important cha...
2,Saint Kabir,The saint poet Kabir is one of the most intere...
3,Samudra Manthan,"Lord Indra, while riding his elephant, Airavat..."
4,King Ratnideva,King Ratnideva was well known not only on Eart...

In [ ]:
stories.drop([12],inplace=True)

In [ ]:
import spacy
#loading the english language small model of spacy
en = spacy.load('en_core_web_sm')
sw_spacy = en.Defaults.stop_words
print(sw_spacy)

{'using', 'would', '‘ll', 'empty', 'among', 'here', 'should', '’s', 'also', 'two', "'ll", 'must', 'its', 'again', 'as', 'whom', 'herself', 'am', 'otherwise', 'sixty', '’d', 'thence', 'me', 're', 'be', 'own', 'while', 'less', 'fifteen', 'can', 'behind', "'ve", 'across', 'thus', 'mostly', 'nowhere', 'very', 'least', 'beforehand', 'why', 'enough', 'now', 'at', 'whereby', 'still', 'been', 'may', 'six', 'always', 'the', 'upon', 'somewhere', 'namely', 'there', 'front', 'with', 'under', 'quite', 'doing', "'s", 'done', 'rather', 'ever', 'yet', 'off', 'became', 'few', "'d", 'ours', 'so', 'due', 'made', 'already', 'an', 'indeed', 'ca', 'formerly', 'only', 'nevertheless', 'give', 'we', 'make', 'whereupon', 'might', 'whence', 'their', 'whenever', '’ve', 'not', 'of', 'really', 'first', '’ll', 'they', 'yourselves', 'well', 'hers', '‘ve', 'a', 'put', 'say', 'third', 'either', 'since', 'hereupon', 'where', 'n‘t', 'how', 'she', 'eleven', 'whoever', 'could', 'wherever', 'twenty', 'forty', 'keep', 'though', 'whereafter', '‘d', 'noone', 'until', 'whereas', 'mine', 'down', 'then', 'within', 'any', 'during', 'move', 'per', 'is', 'become', 'moreover', 'it', 'anywhere', 'afterwards', 'ten', 'itself', 'another', 'once', 'i', 'over', 'than', 'us', 'something', 'elsewhere', 'anyhow', 'various', 'take', 'around', 'thereafter', 'go', 'almost', 'whether', 'throughout', 'hundred', 'nor', 'hence', '’re', 'was', '’m', 'on', 'get', 'although', 'else', 'most', 'her', "'m", 'each', 'but', 'cannot', 'some', 'and', 'herein', 'our', 'neither', 'beside', 'hereafter', 'twelve', 'please', 'in', 'thru', 'against', 'whatever', 'yourself', 'someone', 'much', 'whose', 'none', 'next', 'full', 'everyone', 'who', 'too', 'anyone', 'between', 'towards', 'many', 'them', 'often', 'call', 'former', 'amongst', 'last', 'or', 'whither', 'such', 'his', "'re", 'thereupon', 'onto', 'your', 'which', 'sometime', 'therein', 'to', 'nine', "n't", 'does', 'him', 'before', 'anything', 'if', 'besides', 'however', 'themselves', 'name', 'has', 'even', 'will', 'side', 'back', 'you', 'he', 'bottom', 'everything', 'after', 'others', 'along', 'do', 'without', 'latter', 'yours', 'thereby', 'ourselves', 'through', 'show', 'used', 'into', 'these', '‘s', 'those', '‘re', 'regarding', 'what', 'myself', 'n’t', 'becomes', 'anyway', 'both', 'therefore', 'beyond', 'somehow', 'more', 'four', '‘m', 'see', 'except', 'part', 'that', 'below', 'every', 'other', 'for', 'out', 'this', 'nothing', 'five', 'serious', 'never', 'latterly', 'no', 'meanwhile', 'further', 'perhaps', 'up', 'seeming', 'have', 'sometimes', 'amount', 'all', 'fifty', 'eight', 'above', 'seemed', 'hereby', 'alone', 'nobody', 'seems', 'were', 'three', 'being', 'same', 'everywhere', 'whole', 'together', 'becoming', 'just', 'toward', 'several', 'wherein', 'seem', 'himself', 'my', 'about', 'are', 'from', 'had', 'did', 'by', 'one', 'top', 'when', 'because', 'via', 'unless'}

In [ ]:
text="A Hare was making fun of the Tortoise one day for being so slow Do you ever get anywhere? he asked with a mocking laugh. Yes, replied the Tortoise, and I get there sooner than you think. Ill run you a race and prove it. The Hare was much amused at the idea of running a race with the Tortoise, but for the fun of the thing he agreed. So the Fox, who had consented to act as judge, marked the distance and started the runners off. The Hare was soon far out of sight, and to make the Tortoise feel very deeply how ridiculous it was for him to try a race with a Hare, he lay down beside the course to take a nap until the Tortoise should catch up.The Tortoise meanwhile kept going slowly but steadily, and, after a time, passed the place where the Hare was sleeping. But the Hare slept on very peacefully; and when at last he did wake up, the Tortoise was near the goal. The Hare now ran his swiftest, but he could not overtake the Tortoise in time."

In [ ]:
words = [word for word in text.split() if word.lower() not in sw_spacy]
new_text = " ".join(words)
print(new_text)

Hare making fun Tortoise day slow anywhere? asked mocking laugh. Yes, replied Tortoise, sooner think. Ill run race prove it. Hare amused idea running race Tortoise, fun thing agreed. Fox, consented act judge, marked distance started runners off. Hare soon far sight, Tortoise feel deeply ridiculous try race Hare, lay course nap Tortoise catch up.The Tortoise kept going slowly steadily, and, time, passed place Hare sleeping. Hare slept peacefully; wake up, Tortoise near goal. Hare ran swiftest, overtake Tortoise time.

In [ ]:
print("Old length: ", len(text))
print("New length: ", len(new_text))

Old length:  946
New length:  521

In [ ]:
import string
 
test_str = new_text.translate(str.maketrans('', '', string.punctuation))
print(test_str)

Hare making fun Tortoise day slow anywhere asked mocking laugh Yes replied Tortoise sooner think Ill run race prove it Hare amused idea running race Tortoise fun thing agreed Fox consented act judge marked distance started runners off Hare soon far sight Tortoise feel deeply ridiculous try race Hare lay course nap Tortoise catch upThe Tortoise kept going slowly steadily and time passed place Hare sleeping Hare slept peacefully wake up Tortoise near goal Hare ran swiftest overtake Tortoise time

In [ ]:
from collections import Counter

In [ ]:
word_list = test_str.split()

In [ ]:
word_count = Counter(word_list)

In [ ]:
print(word_count.most_common(10))

[('Tortoise', 8), ('Hare', 7), ('race', 3), ('fun', 2), ('time', 2), ('making', 1), ('day', 1), ('slow', 1), ('anywhere', 1), ('asked', 1)]

In [ ]:
counts=[]
m=word_count.most_common(10)

In [ ]:
res = [lis[0] for lis in m]

In [ ]:
print(res)

['Tortoise', 'Hare', 'race', 'fun', 'time', 'making', 'day', 'slow', 'anywhere', 'asked']

In [ ]:
keypoints=[]

In [ ]:
stories.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 0 to 11
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Title      12 non-null     object
 1   Strory     12 non-null     object
 2   keypoints  12 non-null     object
dtypes: object(3)
memory usage: 384.0+ bytes

In [ ]:
for i in stories['Strory']:
  words = [word for word in i.split() if i.lower() not in sw_spacy]
  new_text = " ".join(words)
  test_str = new_text.translate(str.maketrans('', '', string.punctuation))
  word_list = test_str.split()
  word_count = Counter(word_list)
  counts=[]
  m=word_count.most_common(10)
  res = [lis[0] for lis in m]
  keypoints.append(res)

In [ ]:
keypoints

[['the', 'Tortoise', 'Hare', 'a', 'was', 'and', 'he', 'of', 'The', 'to'],
 ['and',
  'the',
  'of',
  'in',
  'Ghatotkach',
  'Abhimanyu',
  'were',
  'was',
  'to',
  'Both'],
 ['the', 'Kabir', 'of', 'a', 'in', 'and', 'was', 'his', 'to', 'Ramanand'],
 ['the', 'and', 'Devas', 'to', 'of', 'amrit', 'Lord', 'The', 'a', 'Asuras'],
 ['and', 'the', 'he', 'was', 'his', 'to', 'of', 'Ratnideva', 'food', 'for'],
 ['the', 'Lord', 'to', 'his', 'and', 'Shiva', 'Vrikasura', 'of', 'him', 'a'],
 ['the',
  'and',
  'is',
  'of',
  'Saraswati',
  'a',
  'Goddess',
  'with',
  'in',
  'knowledge'],
 ['the', 'and', 'to', 'Ganga', 'is', 'of', 'a', 'in', 'river', 'it'],
 ['and', 'the', 'a', 'is', 'Indra', 'to', 'of', 'as', 'God', 'he'],
 ['the',
  'and',
  'elephant',
  'was',
  'he',
  'a',
  'baby',
  'The',
  'crocodile',
  'He'],
 ['the',
  'hippo',
  'and',
  'of',
  'his',
  'tortoise',
  'The',
  'wives',
  'to',
  'name'],
 ['the',
  'Devas',
  'Asuras',
  'in',
  'to',
  'The',
  'ocean',
  'and',
  'would',
  'Indra']]

In [ ]:
len(keypoints)

12

In [ ]:
stories['keypoints']=keypoints

In [ ]:
keys=[]

In [ ]:
stories

,Title,Strory,keypoints
0,Hare and Tortoise,A Hare was making fun of the Tortoise one day ...,"[the, Tortoise, Hare, a, was, and, he, of, The..."
1,Abhimanyu and Ghatotakach,Abhimanyu and Ghatotkach are two important cha...,"[and, the, of, in, Ghatotkach, Abhimanyu, were..."
2,Saint Kabir,The saint poet Kabir is one of the most intere...,"[the, Kabir, of, a, in, and, was, his, to, Ram..."
3,Samudra Manthan,"Lord Indra, while riding his elephant, Airavat...","[the, and, Devas, to, of, amrit, Lord, The, a,..."
4,King Ratnideva,King Ratnideva was well known not only on Eart...,"[and, the, he, was, his, to, of, Ratnideva, fo..."
5,Vrikasura,"Once, while on his way, the wicked asura (demo...","[the, Lord, to, his, and, Shiva, Vrikasura, of..."
6,Saraswati,"Saraswati is the Hindu goddess of knowledge, m...","[the, and, is, of, Saraswati, a, Goddess, with..."
7,Ganga,Ganga is India’s longest river. It originates ...,"[the, and, to, Ganga, is, of, a, in, river, it]"
8,Lord Indra,Lord Indra is a Hindu God and is believed to b...,"[and, the, a, is, Indra, to, of, as, God, he]"
9,Elephant's nose,"Many years ago, the elephant’s nose was not as...","[the, and, elephant, was, he, a, baby, The, cr..."
10,Hippopotamus and Tortoise,"A very long time ago, there was a hippopotamus...","[the, hippo, and, of, his, tortoise, The, wive..."
11,Agasthya drinks the ocean,Devas and Asuras were cousins who were always ...,"[the, Devas, Asuras, in, to, The, ocean, and, ..."

In [ ]:
stories.to_csv('stories.csv')

In [ ]:
for i in stories['keypoints']:
  for j in i: 
    keys.append(j)

In [ ]:
keys

['the',
 'Tortoise',
 'Hare',
 'a',
 'was',
 'and',
 'he',
 'of',
 'The',
 'to',
 'and',
 'the',
 'of',
 'in',
 'Ghatotkach',
 'Abhimanyu',
 'were',
 'was',
 'to',
 'Both',
 'the',
 'Kabir',
 'of',
 'a',
 'in',
 'and',
 'was',
 'his',
 'to',
 'Ramanand',
 'the',
 'and',
 'Devas',
 'to',
 'of',
 'amrit',
 'Lord',
 'The',
 'a',
 'Asuras',
 'and',
 'the',
 'he',
 'was',
 'his',
 'to',
 'of',
 'Ratnideva',
 'food',
 'for',
 'the',
 'Lord',
 'to',
 'his',
 'and',
 'Shiva',
 'Vrikasura',
 'of',
 'him',
 'a',
 'the',
 'and',
 'is',
 'of',
 'Saraswati',
 'a',
 'Goddess',
 'with',
 'in',
 'knowledge',
 'the',
 'and',
 'to',
 'Ganga',
 'is',
 'of',
 'a',
 'in',
 'river',
 'it',
 'and',
 'the',
 'a',
 'is',
 'Indra',
 'to',
 'of',
 'as',
 'God',
 'he',
 'the',
 'and',
 'elephant',
 'was',
 'he',
 'a',
 'baby',
 'The',
 'crocodile',
 'He',
 'the',
 'hippo',
 'and',
 'of',
 'his',
 'tortoise',
 'The',
 'wives',
 'to',
 'name',
 'the',
 'Devas',
 'Asuras',
 'in',
 'to',
 'The',
 'ocean',
 'and',
 'would',
 'Indra']